/* Container centralizado */
.centeredContainer {
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  
  position: absolute;
  top: 45%; /* Move para o meio do contêiner pai */
  left: 55%; /* Move para o meio do contêiner pai */
  transform: translate(-50%, -50%); /* Centraliza o elemento */
}

/* Container de Cadastro */
.contentCadastro {
  margin: 0px 20px 0; /* Adiciona espaçamento lateral e um margin-top negativo para posicionar o texto "Cadastro de Unidades" no topo */
  
}

/* Container de Lista */
.contentLista {
  margin: 0px 20px 0px; /* Adiciona espaçamento superior de 20px e lateral de 20px */
  
}

/* Container do título */
.titleContainerCadastroUnidades {
  margin-bottom: 10px; /* Reduz o espaço abaixo do título */
}

/* Estilo do título */
.title {
  font-size: 24px; /* Tamanho da fonte */
}

/* Linha horizontal */
.lineCadastroUnidades {
  width: 100%; /* Ocupa toda a largura */
  border-bottom: 0.1px black; /* Estilo da linha */
  margin-bottom: 20px; /* Adiciona espaço abaixo da linha */
}

.lineListaUnidades {
  width: 100%; /* Ocupa toda a largura */
  border-bottom: 0.1px black; /* Estilo da linha */
  margin-bottom: 20px; /* Reduz o espaço abaixo da linha */
}

/* Posicionamento do container do botão */
.buttonContainerCadastroUnidades {
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  margin-bottom: 10px; /* Reduz o espaço abaixo do botão */
}

.buttonContainerCadastroUnidades button {
  margin-bottom: 10px;
  height: 40px;
}

/* Container da lista de unidades */
.unitListContainer {
  flex-direction: column;
  text-align: center;
}

/* Estilo dos botões de unidade */
.unitButton {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.unitButton button {
  margin-bottom: 10px;
  height: 40px;
}


/* Linha vertical de divisão */
.divider {
  border-left: 1px solid black; /* Adiciona uma borda vertical */
  height: 300px; /* Ocupa toda a altura do container pai */
  margin: 0 70px; /* Adiciona espaçamento lateral */
}