.buttonContainer {
  flex-direction: column;
  justify-content: flex-start;
  position: fixed;
  bottom: 25%;
  left: 123vh;
}

.container button {
  margin-bottom: 40px;
  margin-right: 32vh;
  margin-left: -30vh;
  height: 40px;
  width: 142px;
  border-radius: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  top: 1px;
  left: 300px;
  width: 50%;
}

.texto {
  display: flex;
  justify-content: flex-start;
  bottom: 100vh;
  margin-bottom: 35vh;
  margin-right: 75vh;
}

.input {
  display: flex;
  margin-top: -55px;
}

.ColunaDireita {
  flex-direction: column;
  padding: 10px;
  margin-left: 1vh; /*Juntando as colunas*/
  margin-bottom: 190vh;    
}

.ColunaEsquerda {
  flex-direction: column;
  padding: 10px;
  margin-left: 255vh; /* Juntando a div Coluna esquerda com a parte de baixo "Descrição" */ 
  margin-bottom: 190vh;  
}

.ColunaDireita input {
  margin-bottom: 15px; /* Adiciona um espaçamento entre os inputs */
  width: 300px; /* Largura input */
  height: 50px; /*tamanho input*/
}

.ColunaEsquerda input {
margin-bottom: 15px; /* Adiciona um espaçamento entre os inputs */
width: 300px; /* Largura input */
height: 50px; /* Tamanho input*/
}

.descricao {
margin-top: 16vh;
padding: 4px;
margin-right: 200vh;
margin-left: -68.6vh;
height: 12vh;
width: 67.5vh;
}

.erro {
  border: 1px solid rgb(214, 69, 69); /* Adiciona uma borda vermelha para indicar erro */
}