.buttonContainer {
  flex-direction: column;
  justify-content: flex-start;
  position: fixed;
  bottom: 25%;
  left: 915px;
}

.container button {
  margin-bottom: 10px;
  margin-right: 75px;
  margin-left: -58px;
  height: 40px;
  width: 150px;
  border-radius: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  top: 250px;
  left: 575px;
  width: 50%;
}

.input {
  display: flex;
  margin-top: -50px;
}

.ColunaDireita {
  flex-direction: column;
  padding: 10px;
  margin-left: 40px; /*Juntando as colunas*/
  margin-right: 10px;
  padding-right: 200px;

}

.ColunaEsquerda {
  padding: 10px;
  flex-direction: column;
  margin-left: 100px; 
  padding-left: 50px;
}

.ColunaDireita input {
  margin-bottom: 15px; /* Adiciona um espaçamento entre os inputs */
  width: 300px; /* Largura input */
  height: 50px; /*tamanho input*/
}

.ColunaEsquerda input {
margin-bottom: 15px; /* Adiciona um espaçamento entre os inputs */
width: 300px; /* Largura input */
height: 50px; /* Tamanho input*/
}